@{
    ViewData["Title"] = "Kyle Bunger - Developer";
}

<div class="text-center">
    <h1 class="display-4">Hi, I'm Kyle</h1>
    <h2>I'm an RPA Developer</h2>
</div>

<div class="intro">
    <p class="introduction">
    Like many others, I have discovered that I really enjoy building out web and computer applications. It brings me
    great satisfaction to see my code come to life. My interest in Development started in 2022 when my company
    sponsored it's first annual hackathon. My team built a chatbot that automated password resets for end users,
    and ended up winning several awards.
    </p>

    <p class="introduction">
    I knew then I wanted to pursue a Development career. Since then I've learned basic web development fundamentals
    and have started a job as a full-time RPA Developer using the UiPath platform.
    </p>
</div>
    <img src="Headshot.jpeg" alt="Profile Pic" />