@{
    ViewData["Title"] = "Kyle Bunger - Developer";
}

<div class="top-of-page">
    <h1 class="title">Hi, I'm Kyle..</h1>
    <h2 class="subtitle">RPA Developer at Old Republic Title Tech</h2>
</div>

<div class="intro">
    <h2 class ="section-subtitles" id="welcome">Welcome</h2>
    <p class="introduction">
        Like many others, I have discovered that I highly enjoy building out web and computer applications. While I am
        currently an automation developer at Old Republic Title, I have been learning full-stack development since the
        beginning of 2022.
    </p>
</div>

<p>
    I am highly motivated and enthusiastic to further my knowledge in all-things dev. From RPA to backend dev, I enjoy
    it all. This site is one of my first projects incorporating multiple languages and technologies.Since I just started
    this project, be sure to check back often to see my updates as I work on it!
</p>

<br />
<br />

<h2 class="section-subtitles" id="skills">What's in My Bag?</h2>
<div class="my-bag">
    <div class="frontend">
        <h3>Frontend</h3>
        <ol class="frontend-list">
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
        </ol>
    </div>
    <div class="backend">
        <h3>Backend</h3>
        <ol class="backend-list">
            <li>ASP.Net</li>
            <li>C#</li>
            <li>SQL</li>
            <li>Python</li>
            <li>Java</li>
        </ol>
    </div>
    <div class="rpa">
        <h3>RPA Dev</h3>
        <ol class="rpa-list">
            <li>UiPath Studio</li>
            <li>UiPath Orchestrator</li>
        </ol>
    </div>
</div>



