@{
    ViewData["Title"] = "Connect Page";
}
<h1>Let's Connect!</h1>

<p>For any inquiries, please feel free to contact me here.</p>

<!-- Add a form where user can input contact information-->
<fieldset class="contact-form">
    <legend>Contact Form</legend>
    <!-- First and Last Name fields-->
    <label class="first-name">First Name:&nbsp;</label>
    <input class="first-name" type="text"/>

    <label class="last-name">Last Name:&nbsp;</label>
    <input class="last-name" type="text" />

    <!-- Subject and email fields-->
    <label class="subject">Subject:&nbsp;</label>
    <input class="subject" type="text" />

    <label class="email">Email:&nbsp;</label>
    <input class="email" type="email" />

    <label class="message">Message:&nbsp;</label>
    <input class="message-box" type="text" />

    <!-- Add Submit button-->
    <button class="form-submit">Submit</button>
</fieldset>